{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["@typescript-eslint", "prettier", "@limegrass/import-alias", "simple-import-sort"],
  "ignorePatterns": ["scripts/**/*.js", "lib/**/*.js"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "no-unused-expressions": "warn",
    "prefer-const": "warn",
    "no-param-reassign": "error",
    "no-else-return": "warn",
    "consistent-return": "error",
    "no-return-assign": "error",
    "no-use-before-define": "error",
    "no-console": "warn",
    "no-empty-function": "warn",
    "max-params": ["warn", 4],
    "max-depth": ["error", 5],
    "@limegrass/import-alias/import-alias": "warn",
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          // External libraries
          ["^@?\\w"],
          // Internal paths
          ["^@src/core/domain", "^@src/core/repositories"],
          ["^@src/application/controllers", "^@src/application/dtos", "^@src/application/validation"],
          [
            "^@src/infrastructure/database",
            "^@src/infrastructure/repositories",
            "^@src/infrastructure/routes",
            "^@src/infrastructure/server",
            "^@src/infrastructure/services"
          ],
          ["^@src/utils/"],
          ["^@src/errors/"],
          ["^@src/config/"],
          ["^@src/fixtures/"],
          ["^@src/docs/"],
          // Uncaught paths
          ["^\\u0000"]
        ]
      }
    ],
    "import/order": "off",
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "import", "next": "*" },
      { "blankLine": "any", "prev": "import", "next": "import" }
    ]
  }
}
